<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Android.Support.v4" version="23.1.1.1" targetFramework="MonoAndroid44" />
  <package id="Xamarin.GooglePlayServices.Base" version="29.0.0.1" targetFramework="MonoAndroid44" />
  <package id="Xamarin.GooglePlayServices.Basement" version="29.0.0.1" targetFramework="MonoAndroid44" />
  <package id="Xamarin.GooglePlayServices.Gcm" version="29.0.0.1" targetFramework="MonoAndroid44" />
  <package id="Xamarin.GooglePlayServices.Measurement" version="29.0.0.1" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Insights" version="1.11.4" targetFramework="MonoAndroid44" />
  <package id="ZXing.Net.Mobile" version="2.0.4.17" targetFramework="MonoAndroid44" />
</packages>